@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: "raleway";
    src : url(../fonts/Raleway-Regular.woff);
    src : url(../fonts/Raleway-Bold.woff);
    src: url(../fonts/Raleway-Italic.woff);
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    src: url(../fonts/Raleway-Regular.otf) format('opentype');
    src: url(../fonts/Raleway-Bold.otf) format('opentype');
    src: url(../fonts/Raleway-Italic.otf) format('opentype');
}

.global{
    width: 1160px;
    margin: 0 auto;
}

h1{
    font-family: "lato", sans-serif;
    font-size: 24;
    text-align: center;
    color: white;
}

h2{
    font-family: "lato", sans-serif;
    font-size: 16;
}

h3{
    font-family: "lato", sans-serif;
    font-size: 16;
}

p{
    font-family: "raleway-regular", sans-serif;
    font-size: 12;
}